* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;

}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    
}

.navbar__s1__title {
    color: #A435E0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__card {
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 200px;
}

.navbar__s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: #A435F0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    transition: 0.3s ease-out;       /*smooth effect */
    cursor: pointer;             /* pointer cursor */
}

.categories p:hover{
        background-color: #7d28b7; /* slightly darker purple */
        transform: scale(1.05 );    /* small zoom */
        box-shadow: 0 4px 10px #A435F0;

}

.sale-image {
    width: 100%;
    position: relative;
}

.sale-image img{
    width: 100%;
    display: block;
}

.sale-card{
    position: absolute;
    top: 40%;
    left: 5%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.sale-card:hover{
    background-color: rgb(185, 185, 185);
    transform: scale(1.05);  /* small zoom */

}

.recommended{
    padding: 10px;
    margin: 10px;
}
.recommended p{
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recommended__title{
    color: #A435F0;
}

.recommended__container{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         margin-top: 20px;
         padding: 15px;
         margin-top: 20px;
}

.course-card{
   width: 300px;
   margin: 10px;
   margin-bottom: 10px;
   margin-right: 5px;
   margin-left: 5px;
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 10px;
   background: white;
   box-shadow: 0 5px 20px rgba(0,0,0,0.3);
   transition: 0.5s;
   text-align: center;
}

.course-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    cursor: pointer;
}

.course-card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    margin: 10px 0 5px 0;

}

.topics{
    padding: 10px;
    margin: 10px;
}

.topics__title{
    text-decoration: underline;
}

.topics__container{
    background-color: rgb(209, 201, 201);
    border-radius: 5px; /* apply a 5px radius to all four corners */
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.topics__container p{
    background-color: #A435F0;
    color: white;
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: 10px; /* apply a 10px radius to all four corners */
    transition: 0.3s ease-out;       /*smooth effect */
    cursor: pointer;             /* pointer cursor */

}
.topics p:hover{
     background-color: #7d28b7; /* slightly darker purple */
        transform: scale(1.05 );    /* small zoom */
        box-shadow: 0 4px 10px #A435F0;
}

.popular{
    padding: 10px;
    margin: 10px;
}
.popular__title{
    color: #A435F0;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 10px;
}

.footer__one P{
    margin: 20px;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.buy-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #a435f0;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #7d28b7;
    box-shadow: #ddd;
    cursor: pointer;
}
